#Python Internals
__pycache__/
*.py[cod]
*$py.class

#Virtual Environments  
venv/
env/
.venv/

#Streamlit 
.streamlit/secrets.toml

#IDE Settings
.vscode/
.idea/

#OS Metadata 
.DS_Store
Thumbs.db

#Data Files
*.csv
*.xlsx
*.json
